.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.register {
  color: #47c2c3;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.footer {
  background-color: #47c2c3;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.forgot-password a {
  color: #47c2c3;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.button {
  background-color: #68c3c0;
  color: white;
  border: none;
  width: 50%;
  height: 40px;
  border-radius: 4px;
}
